[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.32.0"
singer-sdk = ">=0.42.1"
simpleeval = ">=0.9.13"
python-dateutil = ">=2.9.0"
cryptography = ">=44.0.1"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
